.container{
display: flex;
justify-content: space-around;
/* border: 1px solid; */
width: 100%;
padding-top: 10px;
}
.text{
    gap: 25px;
}
.text > h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 font-weight: 500;
 font: 13px;;
 
}
.button{
    color: white;
    background-color:   #1a8917;
    border: none;
    border-radius: 20px;
    width: 95px;
    height: 35px;

}
.button:hover{
    background-color: #136511;
}
.hr{
   background-color:  black;
    width: 1500px;
    height: 0.5px;
    border: none;
}